<ul class="icongrid">
    {{#each icons}}
    {{#with this}}
    <li>
        <figure>
            <div class="icon-{{name}}"></div>
        </figure>
        <pre><code>icon-{{name}}</code></pre>

    </li>
    {{/with}}
    {{/each}}
</ul>
