// FUNCTIONS
@function grid-cols-to-px-width($col-count, $gutter-count: $col-count - 1) {
    $px-width: ($col-count * $layout-col-width) +
        ($gutter-count * $layout-gutter-width);

    @return $px-width;
}

// MIXINS

// Grid-width
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
// FOR: Calculating percentage widths based on a column width, context, gutters
// WHY: Let's you think in terms of grid column-count and context and not do the math
// USE: @include grid-width(6);
// NOTE: Uses layout variables as defaults, located in variables.scss.

@mixin grid-width(
    $col-count: 6,
    $context-col-count: $layout-col-count,
    $context-gutter-count: $context-col-count - 1,
    $gutter-count: $col-count - 1,
    $property: "width",
    $gallery-gutters: false
) {
    $width: grid-cols-to-px-width($col-count, $gutter-count);
    $context-width: grid-cols-to-px-width(
        $context-col-count,
        $context-gutter-count
    );
    $percentage-width: percentage($width / $context-width);

    #{$property}: $percentage-width;

    @if $gallery-gutters {
        $items-per-row: $context-col-count / $col-count;

        &:nth-of-type(n) {
            @include grid-width(
                $col-count: 0,
                $gutter-count: 1,
                $context-col-count: $context-col-count,
                $property: "margin-right",
                $gallery-gutters: false
            );
        }

        &:nth-child(#{$items-per-row}n),
        &:last-child {
            margin-right: 0;
        }
    }
}

// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

@mixin word-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

@mixin button {
    display: inline-block;
    margin: 0 0 0.4333rem;
    padding: 0.75em 1.25em 0.666em;
    color: #fff;
    background-color: $cl-primary;
    border-radius: 0.2em;
    font-family: $fontsans;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-size: rem-calc(14px, 18px);
    border: 2px solid transparent;

    &:hover,
    &:focus {
        background-color: $cl-primary-variant;
        color: #fff;
    }

    &.hollow {
        background-color: rgba(#fff, 0.5);
        border-color: $cl-primary;
        color: $cl-body-font-color;

        &:hover,
        &:focus {
            background-color: rgba(#fff, 0.75);
            border-color: $cl-primary-variant;
            color: $cl-primary;
        }
    }

    &.large {
        font-size: 1rem;
    }
}
