.button {
    display: inline-block;
    margin: 0 0 0.4333rem;
    padding: 0.75em 1.25em 0.666em;
    color: #fff;
    background-color: $cl-primary;
    border-radius: 0.2em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-size: rem-calc(14px, 18px);
    border: 2px solid transparent;

    &:hover,
    &:focus {
        background-color: $cl-secondary;
        color: #fff;
    }

    &.hollow {
        background-color: rgba(#fff, 0.5);
        border-color: $cl-primary;
        color: $cl-body-font-color;

        &:hover,
        &:focus {
            background-color: rgba(#fff, 0.75);
            border-color: $cl-secondary;
            color: $cl-primary;
        }
    }

    &.large {
        font-size: 1rem;
    }

    .bodycopy & {
        margin-top: 0.4333rem;
    }
}

.readmore {
    display: inline-block;
    //text-transform: uppercase;

    letter-spacing: 0.125em;
    font-size: 0.666em;

    &::after {
        content: "\232A";
        display: inline-block;
        margin-left: 0.666em;
    }
}
