.button {
    display: inline-block;
    margin: 0 0 0.4333rem;
    padding: 0.333em 1em 0.325em;

    background-color: $cl-primary;
    letter-spacing: 0.125em;
    font-weight: $fw-bold;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    font-size: 1rem;
    border: 2px solid transparent;

    &:hover,
    &:focus {
        background-color: $cl-primary-dark;
        color: #fff;
    }

    &.hollow {
        background-color: rgba(#fff, 0.5);
        border-color: $cl-primary;
        color: $cl-body-font-color;

        &:hover,
        &:focus {
            background-color: rgba(#fff, 0.75);
            border-color: $cl-secondary;
            color: $cl-primary;
        }
    }

    &.large {
        font-size: 1.25rem;
    }
    &.expanded {
        width: 100%;
    }

    .bodycopy & {
        margin-top: 0.4333rem;
    }
}

.readmore {
    display: inline-block;
    //text-transform: uppercase;

    letter-spacing: 0.125em;
    font-size: 0.666em;

    &::after {
        content: "\232A";
        display: inline-block;
        margin-left: 0.666em;
    }
}
