.masthead {
    @extend .grid-container;

    position: relative;
    min-height: 42vw;
    display: flex;
    align-items: center;

    @include breakpoint($bp-xlarge) {
        min-height: 37vw;
    }

    @include breakpoint($bp-bigdesktop) {
        min-height: 32rem;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        width: 100vw;
        top: 0;
        height: 100%;
        transform: translateX(-50%);
        background-color: $cl-dark;
    }

    &.valbtm {
        align-items: flex-end;
    }
}

.masthead--wide {
    min-height: 60vw;

    @include breakpoint($bp-large) {
        min-height: 49vw;
    }

    @include breakpoint($bp-bigdesktop) {
        min-height: calc(100vh - 9rem);
    }
}
.masthead--narrow {
    min-height: 42vw;

    @include breakpoint($bp-large) {
        min-height: 30vw;
    }

    @include breakpoint($bp-bigdesktop) {
        min-height: 25rem;
    }
}

.masthead--xnarrow {
    min-height: 30vw;

    @include breakpoint($bp-large) {
        min-height: 25vw;
    }

    @include breakpoint($bp-bigdesktop) {
        min-height: 20rem;
    }
}

.masthead--stripe {
    min-height: 3rem;

    @include breakpoint($bp-large) {
        min-height: 4rem;
    }

    @include breakpoint($bp-bigdesktop) {
        min-height: 5rem;
    }

    &:before {
        background-color: $cl-gray-xlight;
    }
}

.masthead--thin {
    min-height: 10rem;

    @include breakpoint($bp-tablet) {
        min-height: 20vw;
    }

    @include breakpoint($bp-bigdesktop) {
        min-height: 20rem;
    }

    &:before {
        background-color: $cl-gray-xlight;
    }
}

.masthead__content {
    position: relative;
    z-index: 1;
    margin: 4rem 0 6.5rem;
    //padding: 2.5%;
    min-width: 50%;
    max-width: 90%;
    width: 33rem;
    //background-color: #fff;
    //color: #fff;
    a {
        //color: inherit;
    }

    @include breakpoint(tablet) {
        //max-width: 45rem;
    }
}
.valbtm .masthead__content {
    //margin-bottom: -5.333rem;
    // @include breakpoint($bp-tablet) {
    //     margin-left: 25.56%;
    // }
}

.masthead__title {
    display: inline;
    font-size: 2rem;
    line-height: 1.253261875;
    font-weight: $global-weight-bold;
    margin: 0 0;
    box-decoration-break: clone;
    background-color: $cl-primary;
    color: #fff;

    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.0125em;
    padding-bottom: 0.025em;

    @include breakpoint(tablet) {
        font-size: 3rem;
    }
}

.masthead__caption {
    font-size: 1.125rem;
    //max-width: 25em;
    @include breakpoint(tablet) {
        font-size: 1.25rem;
    }
    > p {
        display: inline;
        font-size: inherit;
        line-height: 1;
        font-weight: $global-weight-bold;
        margin: 0 0;
        box-decoration-break: clone;
        background-color: rgba(#000, 0.666);
        color: #fff;

        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.1875em;
        padding-bottom: 0.1875em;
    }
}
.masthead__lead {
    //max-width: 25em;

    p {
        margin: 0;
    }
}

.masthead__actions {
    position: absolute;
    top: 100%;
    width: 113%;
    margin-top: 0.5rem;
}

.masthead__action {
    @include breakpoint(tablet) {
        //font-size: 1.25rem;
        //background-color: $cl-dark;
    }
}

.masthead__bg {
    position: absolute;
    top: 0;
    left: 10%;
    bottom: 0;
    width: 90vw;
    //background-image: linear-gradient(180deg, $cl-primary 0%, $cl-primary-dark 50%);

    @include breakpoint(tablet) {
        left: 25%;
        width: 75vw;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        //filter: grayscale(1);
        //mix-blend-mode: multiply;
    }
}

.masthead__bg--wide {
    left: 0;
    width: 100vw;

    @include breakpoint(tablet) {
        left: 3%;
        right: 3%;
        width: auto;
    }

    @include breakpoint(xxlarge) {
        left: 2%;
        width: 97%;
    }
}

.masthead__bg--fullwidth {
    left: 0;
    width: 100vw;

    @include breakpoint(tablet) {
        left: 50%;
        right: 0;
        width: 100vw;
        transform: translateX(-50%);
    }

    @include breakpoint(xxlarge) {
        left: 50%;

        width: 100vw;
        transform: translateX(-50%);
    }
}
