.postcard {
}

.postcard__title {
    position: relative;
    font-size: 1.25rem;
    margin: 0 0 0.5em;
    line-height: 1.2;

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $cl-primary;
        }
    }

    &:before {
        content: "";
        display: block;
        width: 50%;
        height: 0.333rem;
        background-color: $cl-primary;
        margin: -0.333rem 0 0.333rem 0;
    }
}

.postcard__excerpt {
    font-size: 0.875rem;

    .readmore {
        display: block;
        margin-top: 1em;
        display: none;
    }
}

.postcard__readmore {
    display: inline-block;
    font-size: 0.875em;
    //margin-top: 1em;
    color: inherit;
}

.postcardlist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: $layout-gutter-width;

    > li {
        display: block;
        margin: 0;
        padding: 0;
    }
}
