.sitefooter {
    background-color: $cl-dark;
    color: $cl-gray-light;
    font-weight: $fw-medium;
    font-size: 0.875rem;
    position: relative;
    z-index: 1;
    padding-top: 0;
    padding-bottom: 0;
    //display: flex;
    //justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 4rem;
    h3 {
        color: $cl-gray-xlight;
        font-size: 1.25rem;
        text-transform: uppercase;
    }
}

.sitefooter__contact {
    padding: 2rem 0 1rem;
    @include breakpoint($bp-medium) {
        width: 50%;
        float: left;
    }

    a {
        color: inherit;
    }
}

.sitefooter__logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0 1rem;

    img {
        width: 30%;
        max-width: 7rem;
        &:not(:last-child()) {
            margin-right: 5%;
        }
        @include breakpoint($bp-medium) {
            justify-content: flex-start;
        }
    }

    @include breakpoint($bp-medium) {
        width: 50%;
        float: right;
        justify-content: flex-end;
    }
}

.sitefooter__socials {
    margin: 0 0 1rem;
    a {
        color: #fff;
        // background-color: $cl-dark;
        display: inline-block;
        padding: 0;
        font-weight: $global-weight-bold;
        //width: 49.5%;
        margin: 0 0.125em;
        text-align: center;
        filter: invert(0.8);

        &:hover,
        &:focus {
            // background-color: $cl-primary;
            text-decoration: none;
            filter: contrast(100);
        }

        .icon {
            fill: currentColor;
            stroke: currentcolor;
            width: 2.25em;
            height: 2.25em;
        }
    }
}
