.toprow {
    @extend .grid-container;
    position: relative;
    z-index: 2;

    font-size: 0.666rem;

    font-weight: $fw-medium;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.toprow__content {

    padding: 0.5rem 0 0.5rem;

    // @include breakpoint($bp-tablet) {
    //     padding: 0.5rem 0 0.75rem;
    // }
}
.sticky--siteheader {
    position: relative;
    z-index: 1;

    @include breakpoint(large) {
        background-color: $cl-body-background;

        &.is-stuck {
            box-shadow: 0 0 1rem 0 rgba($cl-primary-xlight, 0.5);
        }
    }

    will-change: transform;
    transition: transform 0.3s linear;

    &.is-stuck.headroom--unpinned {
        transform: translateY(-100%);
    }

    &.is-stuck.headroom--pinned {
        transform: translateY(0%);
    }
}

.siteheader {
    @extend .grid-container;
    position: relative;
    z-index: 3;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;
    justify-content: flex-end;

    // @include breakpoint(xlarge) {
    //     padding-top: 0;
    //     padding-bottom: 0;
    // }

    .menutoggler {
        margin-bottom: 0;
        @extend .button;

        padding: 0.5em 1em 0.5em;
        margin-bottom: 0;
        font-size: 0.75rem;
        //background-color: get-color(warning);
    }

    .is-stuck & {
        // padding-top: 0;
        // padding-bottom: 0;
    }
}

.siteheader__brand {
    position: absolute;
    bottom: -1.75rem;
    left:.9375rem;
    z-index: 3;
    display: inline-block;
    height: 4rem;
    width: 7rem;
    //max-width: 18%;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    border: 0.5rem solid #fff;
    box-shadow: 0 2rem 1rem -2rem rgba(#000, 0.5);
    // margin-bottom: -2rem;

    &:hover,
    &:focus {
    }

    @extend .hide-text;

    .is-stuck & {
        opacity: 0;
    }

    @include breakpoint(tablet) {
        height: 5.333rem;
        width: 9rem;
        max-width: 20%;

        .is-stuck & {
            opacity: 1;
        }
    }

    @include breakpoint(xlarge) {
        max-width: 18%;
    }
}

.siteheader__nav {
    //margin-left: auto;

    @include breakpoint(medium down) {
        display: none;
    }
}

.siteheader__actions {
    margin-left: auto;

    @include breakpoint(tablet) {
        margin-left: initial;
    }
}

.siteheader__mobileactions {
    margin-left: 0.875rem;
    //display: none;
    // transform: translateY(2.25rem);
    @include breakpoint(tablet) {
        display: none;
    }
}
