.vcatfilter {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 2rem 0 5rem;
    display: grid;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    //grid-row-gap: 50px;
    min-width: 64rem;
    align-items: center;
    justify-items: center;
    text-align: center;

    > li {
        position: relative;
        width: 14.28%;
        &:not(:last-child) {
            &:before {
                pointer-events: none;
                content: "";
                //z-index: 0;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 200%;
                background-image: linear-gradient(
                    -90deg,
                    $cl-primary 1px,
                    transparent 1px,
                    transparent 100%
                );
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }

    &.has-5-item > li {
        width: 20%;
    }
    &.has-6-item > li {
        width: 16.666%;
    }
    &.has-7-item > li {
        width: 14.28%;
    }
    &.has-8-item > li {
        width: 12.5%;
    }
}

.vcatfilter__item {
    display: block;
    // width: 9rem;
    margin: 0 auto;
    //position: relative;
    //width: 100%;
    //background-color: red;
    color: $cl-body-font-color;
    padding: 0 1rem;

    &:hover,
    &:focus {
        svg {
            //fill: $cl-primary;
            //stroke: red;
        }

        span {
            color: $primary-color;
            opacity: 1;
        }
    }

    .drawing {
        width: 100%;
        // max-width: 8rem;
        height: 2.75rem;
        background-position: center bottom;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    span {
        display: block;
        //opacity: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        margin: 0 auto 0;
        font-size: 0.75rem;
        font-weight: $fw-bold;
        text-transform: uppercase;
        line-height: 1.4;
        text-transform: uppercase;
        //letter-spacing: 0.125em;
        color: inherit;
        padding: 7% 1rem 0 1rem;

        @include breakpoint(tablet) {
            //font-size: 0.666rem;
        }

        .is-active & {
            color: $cl-primary;
        }
    }
}

.vcathero {
    height: 33vw;
    max-height: 319px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
        // opacity: 0;
    }
}
