//Fonts
$fontsans: "Roboto", sans-serif;
$font-globalsize: 18px;

$cl-dark: #323132;
$cl-gray: #464749;
$cl-gray-light: #aeb0b3; // #c7c8cb;
$cl-gray-xlight: #e1e2e2;
$cl-primary: #e0001b;
$cl-primary-dark: #bc012d;
$cl-secondary: #284080;
$cl-primary-xlight: scale-color($cl-primary, $saturation: -0%, $lightness: 92%);
$cl-alert: #ef4242;

$cl-body-background: #fff;
$cl-body-font-color: $cl-gray;

$fw-normal: 400;
$fw-medium: 300;
$fw-bold: 700;

// Layout / Grid
$layout-col-count: 12;
$layout-col-width: 80px;
$layout-gutter-width: 24px;
$layout-content: ($layout-col-count * $layout-col-width) +
    (($layout-col-count - 1) * $layout-gutter-width);
$layout-gutter-pct: percentage($layout-gutter-width / $layout-content);

// Breakpoints
$bp-medium: 375px;
$bp-tablet: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-xxlarge: 1440px;
$bp-xxxlarge: 1920px;

$bp-bigdesktop: 1560px;

//photoswipe
$pswp__show-hide-transition-duration: 333ms !default;
$pswp__controls-transition-duration: 333ms !default;
$pswp__background-color: #000 !default;
$pswp__placeholder-color: #222 !default;
$pswp__box-sizing-border-box: true !default; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500 !default;
$pswp__assets-path: "../images/pswp-skin/"; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #ccc !default; // "Image not loaded" text color
$pswp__include-minimal-style: true !default;
