html.is-reveal-open,
html.is-reveal-open body {
    overflow-y: hidden !important;
}

.requestmodal {
    padding: 0;
    //position: relative;
    //background-color: $primary-color;
    //background-image: linear-gradient(135deg, $primary-color 50%, $secondary-color);
    //color:$white;
    // z-index: $reveal-zindex + 3;
    // text-align: center;
    // height: 100%;
    // min-height: auto;
    // overflow: hidden;
    // left: 0 !important;
    // top: 0 !important;

    p {
        font-size: 0.875rem;
    }

    @include breakpoint(medium) {
        width: auto;
        max-width: 40rem;
    }
}

.requestmodal .mobilemodal__inner {
    padding: calc(2rem + 4vh) 1rem;
    position: static;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.requestmodal__close {
    font-weight: $fw-light;
    margin-top: 1rem;
    font-size: 2.25rem;
    color: $cl-gray;
    border: 1px solid $cl-gray-xlight;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 0;
    position: absolute;
    top: 0;
    right: 1rem;
    //transform: translateX(-50%);
    background-color: rgba(#fff, 0.75);
    box-shadow: 0 0 0.875rem 0 rgba(#000, 0.25);
}
