.spm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spm__main {
    @include grid-width(12);
    @include breakpoint($bp-tablet) {
        @include grid-width(8);
    }
    @include breakpoint($bp-large) {
        @include grid-width(8);
    }
}

.spm__side {
    @include grid-width(12);

    @include breakpoint($bp-tablet) {
        @include grid-width(4);
    }
    @include breakpoint($bp-large) {
        @include grid-width(4);
    }
}
